<html>
    <head>
        <title>Blog List</title>
        <style>
            body { background-color: lightyellow; }
            h1 { color: navy; text-decoration: underline;}
            h2 { color: gray;}
            h3 { color: green;}
        </style>
    </head>
    <body>
        <header>
            <h1>MyPet 페이지입니다</h1>
            <p></p>
            <h2>버튼을 통해 작성된 게시글 목록으로 이동할 수 있습니다.</h2>
            <h3>게시판에서는 반려동물은 소개하고, 유용한 정보를 교환할 수 있습니다.</h3>
        </header>
        <button><a href="blog/">MyPet 글 목록</a></button>
    </body>
</html>